<div class="container-fluid">
	<div class="row">
    	<div class="col-md-5">
    		<div class="pt-2 controls">
				<div class="d-flex dynamic-button-row mb-3">
					<button class="btn btn-primary mr-auto flex-shrink-0" ngf-select="gc.upload($files)" multiple="multiple">Upload Movement Data</button>
					<button class="btn btn-light flex-shrink-0" ng-show="gc.pathsLoaded" ng-click="gc.showAllPaths()" ng-if="!gc.checkIfAllVisible()">Show All</button>
					<button class="btn btn-light flex-shrink-0" ng-show="gc.pathsLoaded" ng-click="gc.hideAllPaths()" ng-if="gc.checkIfAllVisible()">Hide All</button>
					<button class="btn btn-dynamic-color" ng-repeat="(key, value) in gc.lookup.paths" ng-click="gc.togglePath(key)" ng-style="gc.stylePathButton(key)">{{$index+1}}</button>
				</div>
				<div class="d-flex button-row">
    				<div class="input-group mr-2">
						<div class="input-group-prepend">
					    	<label class="input-group-text" for="map-select">Data Layer</label>
					  	</div>
					  	<select class="custom-select" id="map-select" ng-model="gc.baseLayer" ng-change="gc.changeBaseLayer()">
					    	<option selected value="none">None</option>
					    	<option value="georgia-pop-white">White Population</option>
					    	<option value="georgia-pop-black">Black Population</option>
					    	<option value="georgia-pop-hispanic">Hispanic Population</option>
					    	<option value="georgia-pop-asian">Asian Population</option>
					    	<option value="georgia-pop-20-24">Age 20-24 Population</option>
					    	<option value="georgia-pop-25-34">Age 25-34 Population</option>
					    	<option value="atlanta-health-coverage">Health Insurance Coverage</option>
					    	<option value="marta-lines">MARTA</option>
					 	</select>
					</div>
    				<!-- <div class="input-group">
						<div class="input-group-prepend">
					    	<label class="input-group-text" for="map-select">Map</label>
					  	</div>
					  	<select class="custom-select" id="map-select" ng-model="gc.baseLayer" ng-change="gc.changeBaseLayer()">
					    	<option selected value="roads">Roads</option>
					    	<option value="atlanta-health-coverage">Health Coverage</option>
					    	<option value="atlanta-health-private">Private Health Coverage</option>
					 	</select>
					</div> -->
    				<div class="input-group ml-2">
						<div class="input-group-prepend">
					    	<label class="input-group-text" for="y-select">Y Axis</label>
					  	</div>
					  	<select class="custom-select" id="y-select" ng-model="gc.yAxisValue" ng-change="gc.changeYAxis(gc.yAxisValue)">
					    	<option value="lat">Latitude</option>
					    	<option value="long">Longitude</option>
					    	<option value="distance">Distance (miles)</option>
					 	</select>
					</div>
				</div>
    		</div>
        	<div id='map'></div>
        </div>
        <div id="line-container" class="col-md-7">
        	<div id='line-tooltip' class="tooltip"></div>
        </div>
    </div>
</div>