<importer class="full-screen-modal show-fsm" ng-class="gc.showImporter ? 'show-fsm' : 'hide-fsm'" open="gc.showImporter"></importer>
<div class="container-fluid">
	<div class="row">
    	<div id="geo-container" class="col-md-5 p-0">
    		<div class="pt-2 pr-3 pl-3 controls">
				<div class="d-flex dynamic-button-row mb-2">
					<!-- <button class="btn btn-primary mr-auto flex-shrink-0" ngf-select="gc.upload($files)" multiple="multiple">Upload Movement Data</button> -->
					<a href="#" ng-click="gc.toggleImporter()" class="modal-btn" ng-class="gc.showImporter ? 'modal-btn-up' : 'modal-btn-down'"><i class="fas fa-2x fa-chevron-down" ></i></a>
					<button class="btn btn-light flex-shrink-0" ng-click="gc.showAllTracks()" ng-if="!gc.checkIfAllVisible() || !gc.lookup.tracks.track0">Show All</button>
					<button class="btn btn-light flex-shrink-0" ng-click="gc.hideAllTracks()" ng-if="gc.checkIfAllVisible() && gc.lookup.tracks.track0">Hide All</button>
					<button class="btn btn-dynamic-color" ng-repeat="(key, value) in gc.lookup.tracks" ng-click="gc.toggleTrack(key)" ng-style="gc.styleTrackButton(key)">{{$index+1}}</button>
				</div>
				<div class="d-flex button-row">
    				<div class="input-group mr-2">
						<div class="input-group-prepend">
					    	<label class="input-group-text" for="map-select">Data Layer</label>
					  	</div>
					  	<select class="custom-select" id="map-select" ng-model="gc.baseLayer" ng-change="gc.changeBaseLayer()">
					    	<option selected value="none">None</option>
					    	<option value="georgia-pop-white">(Atlanta) White Population</option>
					    	<option value="georgia-pop-black">(Atlanta) Black Population</option>
					    	<option value="georgia-pop-hispanic">(Atlanta) Hispanic Population</option>
					    	<option value="georgia-pop-asian">(Atlanta) Asian Population</option>
					    	<option value="georgia-pop-20-24">(Atlanta) Age 20-24 Population</option>
					    	<option value="georgia-pop-25-34">(Atlanta) Age 25-34 Population</option>
					    	<option value="atlanta-health-coverage">(Atlanta) Health Insurance Coverage</option>
					    	<option value="marta-lines">(Atlanta) MARTA</option>
					 	</select>
					</div>
    				<!-- <div class="input-group">
						<div class="input-group-prepend">
					    	<label class="input-group-text" for="map-select">Map</label>
					  	</div>
					  	<select class="custom-select" id="map-select" ng-model="gc.baseLayer" ng-change="gc.changeBaseLayer()">
					    	<option selected value="roads">Roads</option>
					    	<option value="atlanta-health-coverage">Health Coverage</option>
					    	<option value="atlanta-health-private">Private Health Coverage</option>
					 	</select>
					</div> -->
    				<div class="input-group ml-2">
						<div class="input-group-prepend">
					    	<label class="input-group-text" for="y-select">Y Axis</label>
					  	</div>
					  	<select class="custom-select" id="y-select" ng-model="gc.yAxisValue" ng-change="gc.changeYAxis(gc.yAxisValue)">
					    	<option value="lat">Latitude</option>
					    	<option value="long">Longitude</option>
					 	</select>
					</div>
				</div>
    		</div>
        	<div id='map'></div>
        </div>
        <div id="line-container" class="col-md-7 p-0">
        	<div id='line-tooltip' class="tooltip"></div>
        </div>
    </div>
</div>